<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948395937639-gjvls2t9hf62vjj2lqajjkuh311g90kj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948395937639-gjvls2t9hf62vjj2lqajjkuh311g90kj</string>
	<key>API_KEY</key>
	<string>AIzaSyDlcX-ibu_RrA5PB8aDduLzf-vgmozsb0M</string>
	<key>GCM_SENDER_ID</key>
	<string>948395937639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firbaseByRohit</string>
	<key>PROJECT_ID</key>
	<string>fir-byrohit</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-byrohit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948395937639:ios:508ea8c6c0fc35d161a9c2</string>
</dict>
</plist>